<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Dart Mouth.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2375D5D31BDC09B70065AC14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2375D5E71BDC09B70065AC14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65B7AD171C91FF28009488BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
